// 色まとめ
$white: #ffffff;
$orange: #E39300;
$navy: #00437C;
$blue: #005CA2;
$lightblue: #0075B6;
$gray: #727171;
$textcolor: #231815;
$footerbgc: #E6EBEE;
$footerborder: #A0A0A0;
$mobilebutton: #273e5e;
$answer-bgc: #FDEEED;
$anchor-button: #4C8DCB;


// フッター
.footer {
  min-height: 378px;
  width: 100%;
  background-color: $footerbgc;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .footer-nav {
    min-width: 80%;
    ul {
      display: flex;
      justify-content: space-around;
      // flex-wrap: wrap;
      li {
        max-width: 200px;
        font-size: 1.4rem;
        line-height: 1.75;
        padding: 16px;
        :hover {
          transition: all 0.3s ease-out;
          opacity: 0.5;
        }
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .office-name {
      margin: 95px 0 17px;
      :hover {
        transition: all 0.3s ease-out;
        opacity: 0.8;
      }
    }
    .office-info {
      p {
        font-size: 1.5rem;
        line-height: 1.6;
      }
    }
  }
}

// フッター（スマホ）
@media (max-width: 768px) {
  .footer {
    min-height: 450px;
    width: 100vw;
    padding: 0;
    // justify-content: space-between;
    .footer-nav {
      width: 100vw;
      background-color: $navy;
      ul {
        flex-direction: column;
        flex-wrap: nowrap;
        li {
          max-width: none;
          font-size: 1.3rem;
          text-align: left;
          color: $white;
          padding: 0;
          a {
            display: block;
            width: 93%;
            margin: 0 auto;
            padding: 11px 0;
          }
        }
        li:not(:last-child) {
          border-bottom: 1px solid $footerborder; 
        }
      }
    }
    .container {
      height: 130px;
      justify-content: center;
      .office-name {
        margin: 0;
        margin-bottom: 16px;
        img {
          width: calc(100vw / 2);
        }
      }
      .office-info {
        p {
          font-size: 1.0rem;
          line-height: 1.8;
        }
      }
    }
  }
}