footer.footer
  nav.footer-nav
    ul
      li: a(href="#") 相続のご相談
      li: a(href="#") 顧問税理士をお探しの方
      li: a(href="#") ご依頼の流れ
      li: a(href="./question.html") よくあるご質問
      li: a(href="#") 事務所案内
      li: a(href="#") お問い合わせ
      li: a(href="#") プライバシーポリシー
      li: a(href="#") コラム
  .container
    .office-name
      a(href="#")
        img(src="./images/sitelogo.png", alt="堤税理士事務所")
    .office-info 
      p 〒180-0002 東京都武蔵野市吉祥寺東町1丁目1番18号
      p TEL 0422-21-3611