// 色まとめ
$white: #ffffff;
$orange: #E39300;
$navy: #00437C;
$blue: #005CA2;
$lightblue: #0075B6;
$gray: #727171;
$textcolor: #231815;
$footerbgc: #E6EBEE;
$footerborder: #A0A0A0;
$mobilebutton: #273e5e;
$answer-bgc: #FDEEED;
$anchor-button: #4C8DCB;


// ヘッダー
.header {
  width: 100%;
  // min-height: 154px;
  border-bottom: 3px solid $navy;
  .container {
    // min-height: 154px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftcontent {
      :hover {
        transition: all 0.3s ease-out;
        opacity: 0.8;
      }
      .site {
        display: block;
        width: 284px;
        
      }
    }
    .rightcontent {
      min-height: 154px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &__contact {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
        &--phone {
          text-align: center;
          margin-right: 16px;
          p {
            font-size: 1.2rem;
          }
          span {
            font-size: 2.4rem;
            font-weight: bold;
          }
        }
        &--form {
          .contact-button  {
            display: block;
            width: 316px;
            font-size: 1.9rem;
            line-height: 1.52;
            color: $white;
            background-color: $orange;
            padding: 11px;
            transition: all 0.3s ease-out;
            box-sizing: border-box;
            border: none;
            &:hover{
              color: $orange;
              background-color: $white;
              border: $orange solid 1px;
            }
          }
        }
      }
      &__nav {
        // height: 50px;
        ul {
          // min-height: 50px;
          display: flex;
          text-align: center;
          li {
            font-size: 1.4rem;
            line-height: 1.5;
            a {
              // min-height: 50px;
              display: block;
              padding: 16px;
              &:hover {
                color: $white;
                background-color: $navy;
                transition: all 0.3s ease-out;
              }
            }
          }
          
        }
      }
    }
    
  }
}
@media (max-width: 1200px) {
  .header {
    .container {
      width: 93%;
      margin: 0 auto;
    }
  }
}
// ヘッダー（スマホ）
@media (min-width: 769px) {
  .nav-button {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 6.6rem;
  }
  .header {
    height: 6.6rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: $white;
    .container {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0;
      
      .leftcontent {
        .site {
          max-width: 160px
        }
      }
      .rightcontent {
        display: none;
      }
    }
    .mobile-nav {
      z-index: 900;
      position: absolute;
      top: 0;
      right: 100%;
      width: 100vw;
      transition: right 0.5s;
      background-color: rgba($navy, 0.95);
      color: $white;
      padding-top: calc(100vh / 8);
      padding-bottom: calc(100vh / 16);
      ul {
        width: 90%;
        margin: 0 auto;
        z-index: 900;
        height: 100%;
        li {
          font-size: 1.3rem;
          z-index: 900;
          color: $white;
          padding: 1.3rem;
          background-color: $mobilebutton;
          margin: 4px 0;
        }
      }
    }
  }
  .open {
    .mobile-nav {
      right: 0;
    }
  }
  /* ナビゲーションボタン */
  .nav-button {
    z-index: 999;
    position: absolute;
    left: 20px;
    height: 36px;
    width: 36px;
    border: solid 1px $navy;
    // box-sizing: content-box;
    outline: none;
    background: none;
    color: $navy;
    cursor: pointer;
    padding: none;
    background-color: $white;
  }
  .nav-button::before,
  .nav-button::after {
    content: '';
    display: block;
    height: 1px;
    background-color: currentColor;
    transform: translateY(6px);
    transition: 0.3s ease-in-out;
  }
  .nav-button::before {
    transform: translateY(-6px);
    box-shadow: 0 6px currentColor;
  }
  .open .nav-button {
    z-index: 1000;
    color: $white;
    border: solid 1px rgba($navy, 0);
    background-color: rgba($navy, 0);
  }
  .open .nav-button::before {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
  }
  .open .nav-button::after {
    transform: translateY(-1px) rotate(-45deg);
  }
}
