header.header
  .container
    .leftcontent
      a(href="#")
        img(src="./assets/images/sitelogo.png", alt="堤税理士事務所", class="site")
    .rightcontent
      .rightcontent__contact
        .rightcontent__contact--phone
          p お気軽にお問い合わせください
          span 0123-456-789
          p お電話受付時間00:00〜00:00
        .rightcontent__contact--form
          a(href="#").contact-button まずは無料相談・お問い合わせ＞
      nav.rightcontent__nav
        ul
          li: a(href="#") 相続のご相談
          li: a(href="#") 顧問税理士をお探しの方
          li: a(href="#") ご依頼の流れ
          li: a(href="./question.html") よくあるご質問
          li: a(href="#") 事務所案内
          li: a(href="#") お問い合わせ
    button.nav-button(onClick="navFunc()")
  .mobile-nav
    ul
      li: a(href="#") 相続のご相談
      li: a(href="#") 顧問税理士をお探しの方
      li: a(href="#") ご依頼の流れ
      li: a(href="./question.html") よくあるご質問
      li: a(href="#") 事務所案内
      li: a(href="#") お問い合わせ