doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="./styles.css")
    link(rel="shortcut icon", href="./assets/images/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 堤税理士事務所
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.js")

  body
    #wrapper
      include _header

      .keyvisual
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img(src="./assets/images/slide1.jpg", alt="", class="swiper-image")
            .swiper-slide
              img(src="./assets/images/slide1.jpg", alt="", class="swiper-image")
            .swiper-slide
              img(src="./assets/images/slide1.jpg", alt="", class="swiper-image")
          //- .swiper-button-prev
          //- .swiper-button-next

      .services
        .services-wrapper
          a(href="#").service.navy
            .service__title
              p 相続税のお悩み
            .service__icon
              figure
                img(src="./assets/images/icon1.png", alt="アイコン（相続税のお悩み）")
            .service__explanation 
              ul
                li ・どのくらいの税額？
                li ・売却したい
                li ・料金について
          a(href="#").service.blue
            .service__title
              p 顧問契約
            .service__icon
              figure
                img(src="./assets/images/icon2.png", alt="アイコン（顧問契約）")
            .service__explanation 
              ul
                li ・個人→法人化する
                li ・経営に関する税務をサポート
                li 　
          a(href="./question.html").service.lightblue
            .service__title
              p よくあるご質問
            .service__icon
              figure
                img(src="./assets/images/icon3.png", alt="アイコン（よくあるご質問）")
            .service__explanation 
              ul
                li ・原稿はダミーです。
                li ・ダミーですダミーです。
                li ・ダミーです。

      .message
        .container
          .title 
            p 豊富な法律知識と実績から
            p 最善の解決方法を
            p ご提案します
          .detail
            p 税理士は各種税金・税務申告に関する問題をはじめ、
            p 会社の経理や経営相談、相続に代表されるご家族の悩みなどを相談できる専門家です。
            p 相続問題、独立・企業をお考えの方へのサポート、法人・個人事業主の税務申告・
            p 会計業務と経営支援を業務の中心として取り組んでおります。
            p フットワーク軽く、一緒に考え、一緒に悩み、皆様の不安を解決して参ります。
            p 一人で悩まず、まずはご相談下さい。
      

      .heroimage
        img(src="./assets/images/hero.jpg", alt="")


      .news
        .container
          .title NEWS
          .details
            a(href="#")
              .detailblock
                .date 2016.05.20
                .text 原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。
            a(href="#")
              .detailblock
                .date 2016.05.20
                .text 原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。
            a(href="#")
              .detailblock
                .date 2016.05.20
                .text 原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。
          .more
            a(href="#") もっと見る

      .columns
        .container 
          .title
            p COLUMN
          .contents
            a(href="#").column
              .column__image
                img(src="./assets/images/column1.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column2.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column3.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column4.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column5.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column6.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
          .more
            a(href="#") もっと見る

      .message
        .container
          .title 
            p 豊富な法律知識と実績から
            p 最善の解決方法を
            p ご提案します
          .detail
            p 税理士は各種税金・税務申告に関する問題をはじめ、
            p 会社の経理や経営相談、相続に代表されるご家族の悩みなどを相談できる専門家です。
            p 相続問題、独立・企業をお考えの方へのサポート、法人・個人事業主の税務申告・
            p 会計業務と経営支援を業務の中心として取り組んでおります。
            p フットワーク軽く、一緒に考え、一緒に悩み、皆様の不安を解決して参ります。
            p 一人で悩まず、まずはご相談下さい。


      .contact
        .container
          a(href="#") お問い合わせはこちら


      .map
        .container
          .title
            p アクセス
          .iframe
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.1406546211765!2d139.70965201525996!3d35.72275918018463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6a6d9adf75%3A0xf09c2e010c44aa19!2z5qCq5byP5Lya56S-44Kz44Og44OH!5e0!3m2!1sja!2sjp!4v1607303824497!5m2!1sja!2sjp"  frameborder="0", class="googlemap")
          //- .map__iframe
          //-   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.1406546211765!2d139.70965201525996!3d35.72275918018463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6a6d9adf75%3A0xf09c2e010c44aa19!2z5qCq5byP5Lya56S-44Kz44Og44OH!5e0!3m2!1sja!2sjp!4v1607303824497!5m2!1sja!2sjp" width="883" height="440" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          .explanation
            p JR線「吉祥寺駅」から徒歩7分

      include _footer.pug

      .to-top
    
    // Swiper
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js")
    script(src="./assets/javascripts/swiper.js")

    // ページ上部へ戻るボタンのJS
    script(src="./assets/javascripts/toppage.js")