// 色まとめ
$white: #ffffff;
$orange: #E39300;
$navy: #00437C;
$blue: #005CA2;
$lightblue: #0075B6;
$gray: #727171;
$textcolor: #231815;
$footerbgc: #E6EBEE;
$footerborder: #A0A0A0;
$mobilebutton: #273e5e;
$answer-bgc: #FDEEED;
$anchor-button: #4C8DCB;

@import "header";
@import "footer";
// @import "variable";
html {
  font-size: 62.5%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $textcolor;
}
@media (min-width: 769px) {
  body {
    min-width: 1200px;
  }
}
@media (max-width: 768px) {
  body {  
    padding-top: 6.6rem;
  }
} 

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
}

// タイトル部分
.page-title {
  height: 164px;
  width: 100%;
  background-color: $navy;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    h1 {
      color: $white;
      font-size: 3.6rem;
      line-height: 164px;
      font-weight: normal;
    }
  }
  
}
@media (max-width: 1200px) {
  .page-title {
    .container {
      width: 93%;
    }
  }
}
@media (max-width: 768px) {
  .page-title {
    height: 9.0rem;
    width: 100vw;
    .container {
      h1 {
        height: 100%;
        font-size: 2.0rem;
        line-height: 9.0rem;
        // line-height: calc(100vh / 8);
        text-align: center;
      }
    }
  }
}

// パンくず
.bread-list{
  height: 100px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.8rem;
    display: flex;
    figure {
      padding: 36px 24px;
    }
    a {
      padding: 36px 0;
      &:hover {
        transition: all 0.3s ease-out;
        opacity: 0.5;
      }
    }
    
  }
}
@media (max-width: 1200px) {
  .bread-list {
    width: 93%;
  }
}
@media (max-width: 768px) {
  .bread-list {
    height: 7.0rem;
    width: 100vw;
    .container {
      width: 93%;
      font-size: 1.2rem;
      a {
        padding: 2.6rem 0;
      }
      figure {
        padding: 2.6rem 1.2rem;
      }
    }
  }
}


// アンカーリンクボタン
.anchor-links {
  width: 100%;
  margin-bottom: 71px;
  .container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    .link {
      display: block;
      width: 48.5%;
      color: $white;
      background-color: $anchor-button;
      border: 1px solid $anchor-button;
      font-size: 2.8rem;
      text-align: center;
      padding: 28px 0;
      &:hover {
        color: $anchor-button;
        background-color: $white;
        transition: all 0.3s ease-out;
      }
    }
  }
}
@media (max-width: 1200px) {
  .anchor-links {
    .container {
      width: 93%;
    }
  }
}
@media (max-width: 768px) {
  .anchor-links {
    width: 100vw;
    margin-bottom: 0;
    .container {
      // width: 100%;
      flex-direction: column;
      .link {
        width: 100%;
        margin: 0 auto;
        font-size: 1.4rem;
        padding: 1.4rem 0;
      }
      .link:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }
    
  } 
}

// Q&A部分
.questions {
  width: 100%;
  margin-bottom: 114px;
  .container {
    margin: 0 auto;
    max-width: 1200px;
    .subtitle {
      height: 57px;
      color: $white;
      background-color: $navy;
      p {
        font-size: 2.4rem;
        line-height: 57px;
        margin-left: 17px;
      }
    }
    .contents {
      min-height: 152px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .inner {
        display: flex;
        figure {
          width: 84px;
          padding: 0 0 0 6px;
        }
        .text {
          p {
            font-size: 1.8rem;
            line-height: 2.22;
          }
        }
      }
    }
    .red-bgc {
      background-color: $answer-bgc;
    }
  }
}
@media (max-width: 1200px) {
  .questions {
    .container {
      width: 93%;
    }
  }
}
@media (max-width: 768px) {
  #advisory-contract {
    margin-bottom: 6.0rem;
  }
  .questions {
    width: 100vw;
    padding-top: 6.6rem;
    margin-bottom: 0;
    .container {
      width: 100%;
      .subtitle {
        width: 100vw;
        height: 4.0rem;
        p {
          width: 93%;
          margin: 0 auto;
          font-size: 1.4rem;
          line-height: 4.0rem;
        }
      }
      .contents {
        min-height: 15.0rem;
        margin: 0 auto;
        padding: 0.8rem 0;
        .inner {
          width: 93%;
          margin: 0 auto;
          justify-content: space-between;
          figure {
            margin: 0;
            padding: 0;
            width: 15%;
            img {
              margin: 0 auto;
            }
            .q-image {
              height: 4.4rem;
            }
            .a-image {
              height: 5.5rem;
            }
          }
          .text {
            width: 85%;
            p {
              font-size: 1.2rem;
              line-height: 2;
            }
          }
        }
        
      }
    }
  }
}


