doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="./question.css")
    link(rel="shortcut icon", href="./assets/images/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 堤税理士事務所
    script(src="https://code.jquery.com/jquery-3.3.1.js")


  body
    #wrapper 
      include _header
      
      .page-title
        .container
          h1 よくあるご質問

      .bread-list
        .container
          a(href="./index.html") トップ
          figure ＞
          a(href="./question.html") よくある質問

      .anchor-links
        .container
          a(href="#inheritance-tax").link 相続税について 
          a(href="#advisory-contract").link 顧問契約について 

      .questions(id="inheritance-tax")
        .container
          .subtitle 
            p 相続税について
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text 
                p
                  | 原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストキスト。<br>
                  | テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト<br>
                  | テキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）

      .questions(id="advisory-contract")
        .container
          .subtitle 
            p 顧問契約について
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text 
                p
                  | 原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストキスト。<br>
                  | テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト<br>
                  | テキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）



      footer.footer
        nav.footer-nav
          ul
            li: a(href="#") 相続のご相談
            li: a(href="#") 顧問税理士をお探しの方
            li: a(href="#") ご依頼の流れ
            li: a(href="./question.html") よくあるご質問
            li: a(href="#") 事務所案内
            li: a(href="#") お問い合わせ
            li: a(href="#") プライバシーポリシー
            li: a(href="#") コラム
        .container
          .office-name
            a(href="#")
              img(src="./assets/images/sitelogo.png", alt="堤税理士事務所")
          .office-info 
            p 〒180-0002 東京都武蔵野市吉祥寺東町1丁目1番18号
            p TEL 0422-21-3611

    // ページ上部へ戻るボタンのJS
    script(src="./javascripts/toppage.js")