// 色まとめ
$white: #ffffff;
$orange: #E39300;
$navy: #00437C;
$blue: #005CA2;
$lightblue: #0075B6;
$gray: #727171;
$textcolor: #231815;
$footerbgc: #E6EBEE;
$footerborder: #A0A0A0;
$mobilebutton: #273e5e;
$answer-bgc: #FDEEED;
$anchor-button: #4C8DCB;

@import "header";
@import "footer";

html {
  font-size: 62.5%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $textcolor;
  
}
@media (min-width: 769px) {
  body {
    min-width: 1200px;
  }  
}
@media (max-width: 768px) {
  body {  
    padding-top: 6.6rem;
  }
} 

li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

// 全体のラッパー
#wrapper {
  margin: 0 auto;
  position: relative;
}

// スライド部分
.keyvisual {
  z-index: -1000;
  width: 100%;
  .swiper-image{ 
    width: 100%;
  }
}

// スライド部分（スマホ）
@media (max-width: 768px) {
  .keyvisual {
    height: 18.0rem;
    width: 100vw;
    margin-bottom: 1.35rem;
    .swiper-container {
      height: 100%;
    }
    .swiper-image{ 
      height: 18.0rem;
      width: 100vw;
      object-fit: cover;
    }
  }
}

// サービス内容
.services {
  width: 100%;
  z-index: 1;
  position: relative;
  text-align: center;
  .services-wrapper {
    width: 80%;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .service {
      min-height: 345px;
      width: 33.3%;
      max-width: 400px;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding: 0 20px;
      &__title {
        font-size: 2.6rem;
        line-height: 1.15;
      }
      &__icon {
        height: 68px;
        margin: 40px 0;
      }
      &__explanation {
        max-width: 260px;
        ul {
          text-align: left;
          li {
            font-size: 1.8rem;
            line-height: 1.66;
          }
        }
      }
    }
    .navy {
      background-color: $navy;
      &:hover {
        transition: all 0.3s ease-out;
        background-color: lighten($navy, 5%);
      }
    }
    .blue {
      background-color: $blue;
      &:hover {
        transition: all 0.3s ease-out;
        background-color: lighten($blue, 5%);
      }
    }
    .lightblue {
      background-color: $lightblue;
      &:hover {
        transition: all 0.3s ease-out;
        background-color: lighten($lightblue, 3%);
      }
    }
  }
}

// サービス内容（スマホ）
@media (max-width: 768px) {
  .services {
    width: 100vw;
    .services-wrapper {
      margin: 0 auto;
      position: static;
      transform: none;
      width: 93%;
      .service {
        height: 25.7rem;
        width: 100%;
        max-width: none;
        &__title {
          font-size: 2.0rem;
        }
        &__icon {
          height: 5.0rem;
          margin: 3.0rem 0;
          img {
            height: 5.0rem;
          }
        }
        &__explanation {
          ul {
            li {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}


// メッセージ
.message{
  width: 100%;
  text-align: center;
  .container {
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 3.4rem;
      line-height: 1.83;
      margin-bottom: 40px;
      font-family: 'ヒラギノ明朝 ProN';
      display: flex;
    }
    .detail {
      font-size: 1.8rem;
      line-height: 2.2;
    }
  }
  
}

// メッセージ（スマホ）
@media (max-width: 768px) {
  .message {
    text-align: left;
    width: 100vw; 
    .container {
      min-height: 38.0rem;
      width: 93%;
      margin: 0 auto;
      .title {
        width: 100%;
        font-size: 2.4rem;
        line-height: 1.45;
        margin-bottom: 2.6rem;
        flex-direction: column;
      }
      .detail {
        font-size: 1.2rem;
        line-height: 2;
        p {
          display: inline;
        }
      }
    }
    
  }
}

// 画像部分
.heroimage {
  height: 453px;
  img {
    height: 453px;
    width: 100%;
    object-fit: cover;
  }
}
// 画像部分（スマホ）
@media (max-width: 768px) {
  .heroimage {
    height: 16.4rem;
    img {
      height: 16.4rem;
    }
  }
}


// ニュース
.news {
  width: 100%;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 551px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 2.8rem;
      font-family: 'ヒラギノ明朝 ProN';
    }
    .details {
      margin: 27px 0 91px; 
      .detailblock {
        font-size: 1.8rem;
        line-height: 2.22;
        display: flex;
        &:hover {
          transition: all 0.3s ease-out;
          opacity: 0.5;
        }
        .date {
          margin-right: 8px;
        }
      }
    }
    .more {
      display: flex;
      justify-content: flex-end;
      a {
        display: block;
        font-size: 1.6rem;
        line-height: 1.4;
        color: $white;
        background-color: $gray;
        border: 1px solid $gray;
        padding: 11px 70px;
        text-align: center;
        &:hover {
          transition: all 0.3s ease-out;
          color: $gray;
          background-color: $white;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .news {
    .container {
      width: 93%;
    }
  }
}
// ニュース（スマホ）
@media (max-width: 768px) {
  .news {
    width: 100vw;
    margin: 0 auto;
    .container {
      min-height: 42.0rem;
      width: 93%;
      max-width: 120rem;
      margin: 0 auto;
      .title {
        font-size: 2.4rem;
        line-height: 1.45;
      }
      .details {
        margin: 0; 
        .detailblock {
          // min-height: 90px;
          font-size: 1.2rem;
          line-height: 2;
          display: flex;
          flex-direction: column;
          margin-bottom: 1.8rem;
          .date {
            font-weight: bold;
          }
        }
      }
      .more {
        width: 100%;
        a {
          margin: 0 auto;
          font-size: 1.3rem;
        }
      }
    }
  }
} 
// COLUMS
.columns {
  min-height: 551px;
  width: 100%;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 2.8rem;
      font-family: 'ヒラギノ明朝 ProN';
    }
    .contents {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 29px 0;
      .column {
        display: flex;
        justify-content: space-between;
        width: 33%;
        margin-bottom: 37px;
        &:hover {
          transition: all 0.3s ease-out;
          opacity: 0.5;
        }
        &__image {
          height: 139px;
          width: 139px;
        }
        &__explanation {
          width: calc(100% - 149px); 
          font-size: 1.8rem;
          line-height: 1.89;
        }
      }
    }
    .more {
      display: flex;
      justify-content: flex-end;
      a {
        display: block;
        font-size: 1.6rem;
        line-height: 1.4;
        color: $white;
        background-color: $gray;
        border: 1px solid $gray;
        padding: 11px 70px;
        text-align: center;
        &:hover {
          transition: all 0.3s ease-out;
          color: $gray;
          background-color: $white;
        }
      }
    }
  }
  
}
@media (max-width: 1200px) {
  .columns {
    .container {
      width: 93%;
    }
  }
}
// COLUMS（スマホ）
@media (max-width: 768px) {
  .columns {
    width: 100vw;
    margin: 0 auto;
    .container {
      width: 93%;
      margin: 0 auto;
      .title {
        font-size: 2.4rem;
        line-height: 1.45;
      }
      .contents {
        margin-bottom: 0;
        .column {
          width: 100%;
          &__image {
            height: 9.3rem;
            width: 9.3rem;
            .column-image {
              height: 9.3rem;
              width: 9.3rem;
            }
          }
          &__explanation {
            width: calc(100% - 10.3rem); 
            font-size: 1.2rem;
            line-height: 2;
            &--date {
              font-weight: bold;
            }
          }
        }
      }
      .more {
        width: 100%;
        a {
          margin: 0 auto;
          font-size: 1.3rem;
        }
      }
    }
  }
}




// お問い合わせボタン
.contact {
  .container {
    max-width: 638px;
    margin: 0 auto;
    a {
      display: block;
      text-align: center;
      font-size: 2.4rem;
      line-height: 1.66;
      color: $white;
      background-color: $orange;
      border: 1px solid $orange;
      margin: 0 auto;
      padding: 22px 120px;
      &:hover {
        transition: all 0.3s ease-out;
        color: $orange;
        background-color: $white;
        box-sizing: border-box;
      } 
    } 
  }
}
@media (max-width: 768px) {
  .contact {
    width: 100vw;
    .container {
      width: 93%;
      a {
        font-size: 1.3rem;
        padding: 1.4rem 6.0rem;
      }
    }
  }
}

// 地図
.map {
  height: 547px;
  width: 100%;
  margin: 80px 0 115px;
  .container{
    margin: 0 auto;
    max-width: 833px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .iframe {
      max-width: 883px;
      margin: 16px 0;
      .googlemap {
        height: 440px;
        width: 100%;
      }
    }
    p {
      font-size: 1.8rem;
      line-height: 2.22;
    }
  }
}
// 地図（スマホ）
@media (max-width: 768px) {
  .map {
    height: 45.6rem;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
      .iframe {
        .googlemap {
          height: 27.6rem;
          width: 100vw;
        }
      }
      p {
        width: 93%;
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 1.66;
      }
    }
    
  }
}



// ページ上部へ移動するボタン
.to-top {
  z-index: 1;
  height: 47px;
  width: 47px;
  background-color: $gray;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-image: url(../images/arrow-top.png);
  background-repeat: no-repeat;
  background-size: 17px 13px;
  background-position: center;
  cursor: pointer;
  &:hover {
    background-color: lighten($gray, 5%);
  }
}

@media (max-width: 768px) {
  .to-top {
    height: 4.0rem;
    width: 4.0rem;
    bottom: 1.1rem;
    right: 1.1rem;
    background-size: 1.5rem 1.1rem;
  }
}


