@charset "UTF-8";
.header {
  width: 100%;
  border-bottom: 3px solid #00437C;
}
.header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .leftcontent :hover {
  transition: all 0.3s ease-out;
  opacity: 0.8;
}
.header .container .leftcontent .site {
  display: block;
  width: 284px;
}
.header .container .rightcontent {
  min-height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header .container .rightcontent__contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.header .container .rightcontent__contact--phone {
  text-align: center;
  margin-right: 16px;
}
.header .container .rightcontent__contact--phone p {
  font-size: 1.2rem;
}
.header .container .rightcontent__contact--phone span {
  font-size: 2.4rem;
  font-weight: bold;
}
.header .container .rightcontent__contact--form .contact-button {
  display: block;
  width: 316px;
  font-size: 1.9rem;
  line-height: 1.52;
  color: #ffffff;
  background-color: #E39300;
  padding: 11px;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  border: none;
}
.header .container .rightcontent__contact--form .contact-button:hover {
  color: #E39300;
  background-color: #ffffff;
  border: #E39300 solid 1px;
}
.header .container .rightcontent__nav ul {
  display: flex;
  text-align: center;
}
.header .container .rightcontent__nav ul li {
  font-size: 1.4rem;
  line-height: 1.5;
}
.header .container .rightcontent__nav ul li a {
  display: block;
  padding: 16px;
}
.header .container .rightcontent__nav ul li a:hover {
  color: #ffffff;
  background-color: #00437C;
  transition: all 0.3s ease-out;
}

@media (max-width: 1200px) {
  .header .container {
    width: 93%;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .nav-button {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 6.6rem;
  }

  .header {
    height: 6.6rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
  }
  .header .container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .header .container .leftcontent .site {
    max-width: 160px;
  }
  .header .container .rightcontent {
    display: none;
  }
  .header .mobile-nav {
    z-index: 900;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
    transition: right 0.5s;
    background-color: rgba(0, 67, 124, 0.95);
    color: #ffffff;
    padding-top: calc(100vh / 8);
    padding-bottom: calc(100vh / 16);
  }
  .header .mobile-nav ul {
    width: 90%;
    margin: 0 auto;
    z-index: 900;
    height: 100%;
  }
  .header .mobile-nav ul li {
    font-size: 1.3rem;
    z-index: 900;
    color: #ffffff;
    padding: 1.3rem;
    background-color: #273e5e;
    margin: 4px 0;
  }

  .open .mobile-nav {
    right: 0;
  }

  /* ナビゲーションボタン */
  .nav-button {
    z-index: 999;
    position: absolute;
    left: 20px;
    height: 36px;
    width: 36px;
    border: solid 1px #00437C;
    outline: none;
    background: none;
    color: #00437C;
    cursor: pointer;
    padding: none;
    background-color: #ffffff;
  }

  .nav-button::before,
.nav-button::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
    transform: translateY(6px);
    transition: 0.3s ease-in-out;
  }

  .nav-button::before {
    transform: translateY(-6px);
    box-shadow: 0 6px currentColor;
  }

  .open .nav-button {
    z-index: 1000;
    color: #ffffff;
    border: solid 1px rgba(0, 67, 124, 0);
    background-color: rgba(0, 67, 124, 0);
  }

  .open .nav-button::before {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
  }

  .open .nav-button::after {
    transform: translateY(-1px) rotate(-45deg);
  }
}
.footer {
  min-height: 378px;
  width: 100%;
  background-color: #E6EBEE;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer-nav {
  min-width: 80%;
}
.footer .footer-nav ul {
  display: flex;
  justify-content: space-around;
}
.footer .footer-nav ul li {
  max-width: 200px;
  font-size: 1.4rem;
  line-height: 1.75;
  padding: 16px;
}
.footer .footer-nav ul li :hover {
  transition: all 0.3s ease-out;
  opacity: 0.5;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container .office-name {
  margin: 95px 0 17px;
}
.footer .container .office-name :hover {
  transition: all 0.3s ease-out;
  opacity: 0.8;
}
.footer .container .office-info p {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .footer {
    min-height: 450px;
    width: 100vw;
    padding: 0;
  }
  .footer .footer-nav {
    width: 100vw;
    background-color: #00437C;
  }
  .footer .footer-nav ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .footer .footer-nav ul li {
    max-width: none;
    font-size: 1.3rem;
    text-align: left;
    color: #ffffff;
    padding: 0;
  }
  .footer .footer-nav ul li a {
    display: block;
    width: 93%;
    margin: 0 auto;
    padding: 11px 0;
  }
  .footer .footer-nav ul li:not(:last-child) {
    border-bottom: 1px solid #A0A0A0;
  }
  .footer .container {
    height: 130px;
    justify-content: center;
  }
  .footer .container .office-name {
    margin: 0;
    margin-bottom: 16px;
  }
  .footer .container .office-name img {
    width: calc(100vw / 2);
  }
  .footer .container .office-info p {
    font-size: 1rem;
    line-height: 1.8;
  }
}
html {
  font-size: 62.5%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #231815;
}

@media (min-width: 769px) {
  body {
    min-width: 1200px;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 6.6rem;
  }
}
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
}

.page-title {
  height: 164px;
  width: 100%;
  background-color: #00437C;
}
.page-title .container {
  max-width: 1200px;
  margin: 0 auto;
}
.page-title .container h1 {
  color: #ffffff;
  font-size: 3.6rem;
  line-height: 164px;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .page-title .container {
    width: 93%;
  }
}
@media (max-width: 768px) {
  .page-title {
    height: 9rem;
    width: 100vw;
  }
  .page-title .container h1 {
    height: 100%;
    font-size: 2rem;
    line-height: 9rem;
    text-align: center;
  }
}
.bread-list {
  height: 100px;
}
.bread-list .container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.8rem;
  display: flex;
}
.bread-list .container figure {
  padding: 36px 24px;
}
.bread-list .container a {
  padding: 36px 0;
}
.bread-list .container a:hover {
  transition: all 0.3s ease-out;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .bread-list {
    width: 93%;
  }
}
@media (max-width: 768px) {
  .bread-list {
    height: 7rem;
    width: 100vw;
  }
  .bread-list .container {
    width: 93%;
    font-size: 1.2rem;
  }
  .bread-list .container a {
    padding: 2.6rem 0;
  }
  .bread-list .container figure {
    padding: 2.6rem 1.2rem;
  }
}
.anchor-links {
  width: 100%;
  margin-bottom: 71px;
}
.anchor-links .container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.anchor-links .container .link {
  display: block;
  width: 48.5%;
  color: #ffffff;
  background-color: #4C8DCB;
  border: 1px solid #4C8DCB;
  font-size: 2.8rem;
  text-align: center;
  padding: 28px 0;
}
.anchor-links .container .link:hover {
  color: #4C8DCB;
  background-color: #ffffff;
  transition: all 0.3s ease-out;
}

@media (max-width: 1200px) {
  .anchor-links .container {
    width: 93%;
  }
}
@media (max-width: 768px) {
  .anchor-links {
    width: 100vw;
    margin-bottom: 0;
  }
  .anchor-links .container {
    flex-direction: column;
  }
  .anchor-links .container .link {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 1.4rem 0;
  }
  .anchor-links .container .link:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.questions {
  width: 100%;
  margin-bottom: 114px;
}
.questions .container {
  margin: 0 auto;
  max-width: 1200px;
}
.questions .container .subtitle {
  height: 57px;
  color: #ffffff;
  background-color: #00437C;
}
.questions .container .subtitle p {
  font-size: 2.4rem;
  line-height: 57px;
  margin-left: 17px;
}
.questions .container .contents {
  min-height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.questions .container .contents .inner {
  display: flex;
}
.questions .container .contents .inner figure {
  width: 84px;
  padding: 0 0 0 6px;
}
.questions .container .contents .inner .text p {
  font-size: 1.8rem;
  line-height: 2.22;
}
.questions .container .red-bgc {
  background-color: #FDEEED;
}

@media (max-width: 1200px) {
  .questions .container {
    width: 93%;
  }
}
@media (max-width: 768px) {
  #advisory-contract {
    margin-bottom: 6rem;
  }

  .questions {
    width: 100vw;
    padding-top: 6.6rem;
    margin-bottom: 0;
  }
  .questions .container {
    width: 100%;
  }
  .questions .container .subtitle {
    width: 100vw;
    height: 4rem;
  }
  .questions .container .subtitle p {
    width: 93%;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 4rem;
  }
  .questions .container .contents {
    min-height: 15rem;
    margin: 0 auto;
    padding: 0.8rem 0;
  }
  .questions .container .contents .inner {
    width: 93%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .questions .container .contents .inner figure {
    margin: 0;
    padding: 0;
    width: 15%;
  }
  .questions .container .contents .inner figure img {
    margin: 0 auto;
  }
  .questions .container .contents .inner figure .q-image {
    height: 4.4rem;
  }
  .questions .container .contents .inner figure .a-image {
    height: 5.5rem;
  }
  .questions .container .contents .inner .text {
    width: 85%;
  }
  .questions .container .contents .inner .text p {
    font-size: 1.2rem;
    line-height: 2;
  }
}
/*# sourceMappingURL=question.css.map */