@charset "UTF-8";
.header {
  width: 100%;
  border-bottom: 3px solid #00437C;
}
.header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .leftcontent :hover {
  transition: all 0.3s ease-out;
  opacity: 0.8;
}
.header .container .leftcontent .site {
  display: block;
  width: 284px;
}
.header .container .rightcontent {
  min-height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header .container .rightcontent__contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.header .container .rightcontent__contact--phone {
  text-align: center;
  margin-right: 16px;
}
.header .container .rightcontent__contact--phone p {
  font-size: 1.2rem;
}
.header .container .rightcontent__contact--phone span {
  font-size: 2.4rem;
  font-weight: bold;
}
.header .container .rightcontent__contact--form .contact-button {
  display: block;
  width: 316px;
  font-size: 1.9rem;
  line-height: 1.52;
  color: #ffffff;
  background-color: #E39300;
  padding: 11px;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  border: none;
}
.header .container .rightcontent__contact--form .contact-button:hover {
  color: #E39300;
  background-color: #ffffff;
  border: #E39300 solid 1px;
}
.header .container .rightcontent__nav ul {
  display: flex;
  text-align: center;
}
.header .container .rightcontent__nav ul li {
  font-size: 1.4rem;
  line-height: 1.5;
}
.header .container .rightcontent__nav ul li a {
  display: block;
  padding: 16px;
}
.header .container .rightcontent__nav ul li a:hover {
  color: #ffffff;
  background-color: #00437C;
  transition: all 0.3s ease-out;
}

@media (max-width: 1200px) {
  .header .container {
    width: 93%;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .nav-button {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 6.6rem;
  }

  .header {
    height: 6.6rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
  }
  .header .container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .header .container .leftcontent .site {
    max-width: 160px;
  }
  .header .container .rightcontent {
    display: none;
  }
  .header .mobile-nav {
    z-index: 900;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
    transition: right 0.5s;
    background-color: rgba(0, 67, 124, 0.95);
    color: #ffffff;
    padding-top: calc(100vh / 8);
    padding-bottom: calc(100vh / 16);
  }
  .header .mobile-nav ul {
    width: 90%;
    margin: 0 auto;
    z-index: 900;
    height: 100%;
  }
  .header .mobile-nav ul li {
    font-size: 1.3rem;
    z-index: 900;
    color: #ffffff;
    padding: 1.3rem;
    background-color: #273e5e;
    margin: 4px 0;
  }

  .open .mobile-nav {
    right: 0;
  }

  /* ナビゲーションボタン */
  .nav-button {
    z-index: 999;
    position: absolute;
    left: 20px;
    height: 36px;
    width: 36px;
    border: solid 1px #00437C;
    outline: none;
    background: none;
    color: #00437C;
    cursor: pointer;
    padding: none;
    background-color: #ffffff;
  }

  .nav-button::before,
.nav-button::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
    transform: translateY(6px);
    transition: 0.3s ease-in-out;
  }

  .nav-button::before {
    transform: translateY(-6px);
    box-shadow: 0 6px currentColor;
  }

  .open .nav-button {
    z-index: 1000;
    color: #ffffff;
    border: solid 1px rgba(0, 67, 124, 0);
    background-color: rgba(0, 67, 124, 0);
  }

  .open .nav-button::before {
    transform: translateY(1px) rotate(45deg);
    box-shadow: none;
  }

  .open .nav-button::after {
    transform: translateY(-1px) rotate(-45deg);
  }
}
.footer {
  min-height: 378px;
  width: 100%;
  background-color: #E6EBEE;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer-nav {
  min-width: 80%;
}
.footer .footer-nav ul {
  display: flex;
  justify-content: space-around;
}
.footer .footer-nav ul li {
  max-width: 200px;
  font-size: 1.4rem;
  line-height: 1.75;
  padding: 16px;
}
.footer .footer-nav ul li :hover {
  transition: all 0.3s ease-out;
  opacity: 0.5;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container .office-name {
  margin: 95px 0 17px;
}
.footer .container .office-name :hover {
  transition: all 0.3s ease-out;
  opacity: 0.8;
}
.footer .container .office-info p {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .footer {
    min-height: 450px;
    width: 100vw;
    padding: 0;
  }
  .footer .footer-nav {
    width: 100vw;
    background-color: #00437C;
  }
  .footer .footer-nav ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .footer .footer-nav ul li {
    max-width: none;
    font-size: 1.3rem;
    text-align: left;
    color: #ffffff;
    padding: 0;
  }
  .footer .footer-nav ul li a {
    display: block;
    width: 93%;
    margin: 0 auto;
    padding: 11px 0;
  }
  .footer .footer-nav ul li:not(:last-child) {
    border-bottom: 1px solid #A0A0A0;
  }
  .footer .container {
    height: 130px;
    justify-content: center;
  }
  .footer .container .office-name {
    margin: 0;
    margin-bottom: 16px;
  }
  .footer .container .office-name img {
    width: calc(100vw / 2);
  }
  .footer .container .office-info p {
    font-size: 1rem;
    line-height: 1.8;
  }
}
html {
  font-size: 62.5%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #231815;
}

@media (min-width: 769px) {
  body {
    min-width: 1200px;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 6.6rem;
  }
}
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
  position: relative;
}

.keyvisual {
  z-index: -1000;
  width: 100%;
}
.keyvisual .swiper-image {
  width: 100%;
}

@media (max-width: 768px) {
  .keyvisual {
    height: 18rem;
    width: 100vw;
    margin-bottom: 1.35rem;
  }
  .keyvisual .swiper-container {
    height: 100%;
  }
  .keyvisual .swiper-image {
    height: 18rem;
    width: 100vw;
    object-fit: cover;
  }
}
.services {
  width: 100%;
  z-index: 1;
  position: relative;
  text-align: center;
}
.services .services-wrapper {
  width: 80%;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services .services-wrapper .service {
  min-height: 345px;
  width: 33.3%;
  max-width: 400px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .services-wrapper .service__title {
  font-size: 2.6rem;
  line-height: 1.15;
}
.services .services-wrapper .service__icon {
  height: 68px;
  margin: 40px 0;
}
.services .services-wrapper .service__explanation {
  max-width: 260px;
}
.services .services-wrapper .service__explanation ul {
  text-align: left;
}
.services .services-wrapper .service__explanation ul li {
  font-size: 1.8rem;
  line-height: 1.66;
}
.services .services-wrapper .navy {
  background-color: #00437C;
}
.services .services-wrapper .navy:hover {
  transition: all 0.3s ease-out;
  background-color: #005196;
}
.services .services-wrapper .blue {
  background-color: #005CA2;
}
.services .services-wrapper .blue:hover {
  transition: all 0.3s ease-out;
  background-color: #006abc;
}
.services .services-wrapper .lightblue {
  background-color: #0075B6;
}
.services .services-wrapper .lightblue:hover {
  transition: all 0.3s ease-out;
  background-color: #007fc5;
}

@media (max-width: 768px) {
  .services {
    width: 100vw;
  }
  .services .services-wrapper {
    margin: 0 auto;
    position: static;
    transform: none;
    width: 93%;
  }
  .services .services-wrapper .service {
    height: 25.7rem;
    width: 100%;
    max-width: none;
  }
  .services .services-wrapper .service__title {
    font-size: 2rem;
  }
  .services .services-wrapper .service__icon {
    height: 5rem;
    margin: 3rem 0;
  }
  .services .services-wrapper .service__icon img {
    height: 5rem;
  }
  .services .services-wrapper .service__explanation ul li {
    font-size: 1.4rem;
  }
}
.message {
  width: 100%;
  text-align: center;
}
.message .container {
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message .container .title {
  font-size: 3.4rem;
  line-height: 1.83;
  margin-bottom: 40px;
  font-family: "ヒラギノ明朝 ProN";
  display: flex;
}
.message .container .detail {
  font-size: 1.8rem;
  line-height: 2.2;
}

@media (max-width: 768px) {
  .message {
    text-align: left;
    width: 100vw;
  }
  .message .container {
    min-height: 38rem;
    width: 93%;
    margin: 0 auto;
  }
  .message .container .title {
    width: 100%;
    font-size: 2.4rem;
    line-height: 1.45;
    margin-bottom: 2.6rem;
    flex-direction: column;
  }
  .message .container .detail {
    font-size: 1.2rem;
    line-height: 2;
  }
  .message .container .detail p {
    display: inline;
  }
}
.heroimage {
  height: 453px;
}
.heroimage img {
  height: 453px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .heroimage {
    height: 16.4rem;
  }
  .heroimage img {
    height: 16.4rem;
  }
}
.news {
  width: 100%;
}
.news .container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 551px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news .container .title {
  font-size: 2.8rem;
  font-family: "ヒラギノ明朝 ProN";
}
.news .container .details {
  margin: 27px 0 91px;
}
.news .container .details .detailblock {
  font-size: 1.8rem;
  line-height: 2.22;
  display: flex;
}
.news .container .details .detailblock:hover {
  transition: all 0.3s ease-out;
  opacity: 0.5;
}
.news .container .details .detailblock .date {
  margin-right: 8px;
}
.news .container .more {
  display: flex;
  justify-content: flex-end;
}
.news .container .more a {
  display: block;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #ffffff;
  background-color: #727171;
  border: 1px solid #727171;
  padding: 11px 70px;
  text-align: center;
}
.news .container .more a:hover {
  transition: all 0.3s ease-out;
  color: #727171;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .news .container {
    width: 93%;
  }
}
@media (max-width: 768px) {
  .news {
    width: 100vw;
    margin: 0 auto;
  }
  .news .container {
    min-height: 42rem;
    width: 93%;
    max-width: 120rem;
    margin: 0 auto;
  }
  .news .container .title {
    font-size: 2.4rem;
    line-height: 1.45;
  }
  .news .container .details {
    margin: 0;
  }
  .news .container .details .detailblock {
    font-size: 1.2rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
  }
  .news .container .details .detailblock .date {
    font-weight: bold;
  }
  .news .container .more {
    width: 100%;
  }
  .news .container .more a {
    margin: 0 auto;
    font-size: 1.3rem;
  }
}
.columns {
  min-height: 551px;
  width: 100%;
}
.columns .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.columns .container .title {
  font-size: 2.8rem;
  font-family: "ヒラギノ明朝 ProN";
}
.columns .container .contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 29px 0;
}
.columns .container .contents .column {
  display: flex;
  justify-content: space-between;
  width: 33%;
  margin-bottom: 37px;
}
.columns .container .contents .column:hover {
  transition: all 0.3s ease-out;
  opacity: 0.5;
}
.columns .container .contents .column__image {
  height: 139px;
  width: 139px;
}
.columns .container .contents .column__explanation {
  width: calc(100% - 149px);
  font-size: 1.8rem;
  line-height: 1.89;
}
.columns .container .more {
  display: flex;
  justify-content: flex-end;
}
.columns .container .more a {
  display: block;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #ffffff;
  background-color: #727171;
  border: 1px solid #727171;
  padding: 11px 70px;
  text-align: center;
}
.columns .container .more a:hover {
  transition: all 0.3s ease-out;
  color: #727171;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .columns .container {
    width: 93%;
  }
}
@media (max-width: 768px) {
  .columns {
    width: 100vw;
    margin: 0 auto;
  }
  .columns .container {
    width: 93%;
    margin: 0 auto;
  }
  .columns .container .title {
    font-size: 2.4rem;
    line-height: 1.45;
  }
  .columns .container .contents {
    margin-bottom: 0;
  }
  .columns .container .contents .column {
    width: 100%;
  }
  .columns .container .contents .column__image {
    height: 9.3rem;
    width: 9.3rem;
  }
  .columns .container .contents .column__image .column-image {
    height: 9.3rem;
    width: 9.3rem;
  }
  .columns .container .contents .column__explanation {
    width: calc(100% - 10.3rem);
    font-size: 1.2rem;
    line-height: 2;
  }
  .columns .container .contents .column__explanation--date {
    font-weight: bold;
  }
  .columns .container .more {
    width: 100%;
  }
  .columns .container .more a {
    margin: 0 auto;
    font-size: 1.3rem;
  }
}
.contact .container {
  max-width: 638px;
  margin: 0 auto;
}
.contact .container a {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.66;
  color: #ffffff;
  background-color: #E39300;
  border: 1px solid #E39300;
  margin: 0 auto;
  padding: 22px 120px;
}
.contact .container a:hover {
  transition: all 0.3s ease-out;
  color: #E39300;
  background-color: #ffffff;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .contact {
    width: 100vw;
  }
  .contact .container {
    width: 93%;
  }
  .contact .container a {
    font-size: 1.3rem;
    padding: 1.4rem 6rem;
  }
}
.map {
  height: 547px;
  width: 100%;
  margin: 80px 0 115px;
}
.map .container {
  margin: 0 auto;
  max-width: 833px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.map .container .iframe {
  max-width: 883px;
  margin: 16px 0;
}
.map .container .iframe .googlemap {
  height: 440px;
  width: 100%;
}
.map .container p {
  font-size: 1.8rem;
  line-height: 2.22;
}

@media (max-width: 768px) {
  .map {
    height: 45.6rem;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .map .container .iframe .googlemap {
    height: 27.6rem;
    width: 100vw;
  }
  .map .container p {
    width: 93%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.66;
  }
}
.to-top {
  z-index: 1;
  height: 47px;
  width: 47px;
  background-color: #727171;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-image: url(../images/arrow-top.png);
  background-repeat: no-repeat;
  background-size: 17px 13px;
  background-position: center;
  cursor: pointer;
}
.to-top:hover {
  background-color: #7f7e7e;
}

@media (max-width: 768px) {
  .to-top {
    height: 4rem;
    width: 4rem;
    bottom: 1.1rem;
    right: 1.1rem;
    background-size: 1.5rem 1.1rem;
  }
}
/*# sourceMappingURL=styles.css.map */